<style>
    .profile-container {
        padding: 1rem;
        background-color: #306ccc;
        border-radius: 0.6rem;
        margin: 1rem;
        font-family: "Source Sans Pro", sans-serif;
        color: mintcream;
    }

    .biography {
        white-space: pre-line;
    }

    .section-heading {
        font-family: "Ubuntu", sans-serif;
        font-size: 1rem;
        color: antiquewhite;
    }

    .diary-container {
        width: 80%;
        background-color: mintcream;
        color: crimson;
    }

</style>
{% extends 'base.html' %}

{% block header %}
    <title>Diary - Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    {% load widget_tweaks %}
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="text-center alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

   <div class="w-50 mx-auto my-3">
   <h4 class="text-center mx-auto my-3">Hello, {{ object.username }}! WELCOME TO YOUR DASHBOARD</h4>
   <div class="container profile-container">
        <div class="row justify-content-around">
            <div class="col-sm-4">
                <img src="{{ object.profile_image.url }}" alt="Image not available" height="200" width="250">
                <h5 class="text-center my-3">Profile: {{ object.username }}</h5>
            </div>

            <div class="col-sm-6">
                <p class="section-heading">{{ object.username }}</p>
                <p> {{ object.bio }}</p>
                <p class="section-heading">Contact No</p> <p> {{ object.phone_no }}</p>
                <p class="section-heading">Email</p><p> {{ object.email }}</p>

            </div>
        </div>

   </div>

    <div class="container">
        <div class="container row diary-container">

        </div>
    </div>

    <div class="container my-3 mx-auto text-center">
        <button class="btn btn-success" id="show_diary">My Entries</button>
        <button class="btn btn-success" id="diary">Write New Entry</button>
    </div>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="diary_chat_bot"
  agent-id="f259fa76-26d5-4e52-9ef7-017f73ea7e08"
  language-code="en"
></df-messenger>

    <script>

    $(document).ready(function() {
       console.log('Loaded!!');

       $('#diary').click(function() {
           console.log($(this).text());
           document.location.href = "{% url 'diaryts:new_diary' %}"
       });

       $('#show_diary').click(function() {
          let box = $('.diary-container');
          box.empty();
          box.hide();
          $.ajax({

            url: '{% url 'diaryts:my_diaryts' %}',
            type: 'GET',
            cache: false,
            success: function(data){
                if(data.length > 0)
                {
                   let pre = `<div>
                   </div>
                              `;

                   box.append(pre);
                   for(let i=0; i<data.length; i++)
                    {
                        box.append('<div class="col-sm-8 my-2"><strong>Day Title : ' + data[i].title + '</strong></div><br>');
                        box.append('<div class="col-sm-8 my-2"><strong>Entry Time : ' + data[i].created_at + '</strong></div><br>');
                        box.append('<div class="col-sm-8 my-2"><strong>Emotion: ' + data[i].emotion + '</strong></div><br>');
                        
                        box.append('<div><strong>Description:</strong>' + data[i].description + '</div><br><br> <hr>');
                       
                    }
                    box.fadeIn(1000);
                }

		    },
		    error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert("some error");
            }
          });
       })
    });

    </script>
{% endblock %}
